.img {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 50vh;
  object-fit: cover;
}

.h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.p {
  width: 90vw;
  margin: 5%;
}
